<a href="https://colab.research.google.com/github/Nick5168/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
a=range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b=range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c=range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
d=range(3,8,2)
print(list(d))

[3, 5, 7]

In [ ]:
e=range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [ ]:
f=range(0,9,1)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
g=range(1,10,1)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h=range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [ ]:
i=range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
  print(n)

0
1
2

In [ ]:
for n in range(10):
  print(n,end=",")

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for n in range(0,10,2):
  print(n,end=",")

0,2,4,6,8,

In [ ]:
n=int(input("請輸入一個正整數"))
x=n+1
for x in range(1,x,1):
  print(x,end=" ")

請輸入一個正整數12
1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
sum=0
for n in range(3):
  sum=sum+n
print(sum)

3

In [ ]:
sum=0
for n in range(10,0,-2):
  sum=sum+n
print(sum)

30

In [ ]:
t=0
x=int(input("請輸入一個正整數"))
for n in range(x+1):
  t=t+n
print(t)

請輸入一個正整數50
1275

In [ ]:
t=0
x=int(input("請輸入一個正整數"))
for v in range(1,x+1,1):
  t=t+v
  print("1到",v,"的整數合為",t,sep="")

請輸入一個正整數50
1到1的整數合為1
1到2的整數合為3
1到3的整數合為6
1到4的整數合為10
1到5的整數合為15
1到6的整數合為21
1到7的整數合為28
1到8的整數合為36
1到9的整數合為45
1到10的整數合為55
1到11的整數合為66
1到12的整數合為78
1到13的整數合為91
1到14的整數合為105
1到15的整數合為120
1到16的整數合為136
1到17的整數合為153
1到18的整數合為171
1到19的整數合為190
1到20的整數合為210
1到21的整數合為231
1到22的整數合為253
1到23的整數合為276
1到24的整數合為300
1到25的整數合為325
1到26的整數合為351
1到27的整數合為378
1到28的整數合為406
1到29的整數合為435
1到30的整數合為465
1到31的整數合為496
1到32的整數合為528
1到33的整數合為561
1到34的整數合為595
1到35的整數合為630
1到36的整數合為666
1到37的整數合為703
1到38的整數合為741
1到39的整數合為780
1到40的整數合為820
1到41的整數合為861
1到42的整數合為903
1到43的整數合為946
1到44的整數合為990
1到45的整數合為1035
1到46的整數合為1081
1到47的整數合為1128
1到48的整數合為1176
1到49的整數合為1225
1到50的整數合為1275